Repository dask/dask-kubernetes, pull requests merged in 2022-11, with the labels that each got.

#599 Improve install GIF clarity
  doc/source/images/operator-install.gif
  doc/source/images/operator-install.tape
Labels: documentation

#609 Skip flaky test_multiple_clusters_simultaneously_same_loop test
  dask_kubernetes/operator/kubecluster/tests/test_kubecluster.py
Labels: operator

#607 Add linting for operator Helm Chart
  .github/workflows/operator.yaml
Labels: operator

#601 Document pulling from a private container registry
  doc/source/operator_kubecluster.rst
Labels: operator, documentation

#611 Wait for LoadBalancer service readiness
  dask_kubernetes/operator/controller/controller.py
  dask_kubernetes/operator/kubecluster/kubecluster.py
Labels: operator

#617 Add retries to deletion
  dask_kubernetes/classic/kubecluster.py
Labels: bug, kubecluster (classic)

#619 Ensure the operator can coexist with dask-gateway
  dask_kubernetes/conftest.py
  dask_kubernetes/operator/controller/controller.py
  dask_kubernetes/operator/controller/tests/test_controller.py
  doc/source/operator_extending.rst
Labels: operator

#622 Fix pre commit flake8 config
  .pre-commit-config.yaml
Labels: bug

#614 Handle cluster service status via the scheduler service status
  dask_kubernetes/operator/controller/controller.py
  dask_kubernetes/operator/controller/tests/test_controller.py
  dask_kubernetes/operator/kubecluster/kubecluster.py
Labels: operator
