Repository dask/dask-kubernetes, pull requests merged in 2022-05, with the labels that each got.

#448 Operator hygeine
  dask_kubernetes/experimental/kubecluster.py
  dask_kubernetes/operator/__init__.py
  dask_kubernetes/operator/operator.py
  dask_kubernetes/operator/tests/test_operator.py
Labels: operator

#446 feat: pass CRD environment variables through to workers and scheduler for Kubernetes operator
  dask_kubernetes/experimental/kubecluster.py
  dask_kubernetes/operator/customresources/daskcluster.yaml
  dask_kubernetes/operator/customresources/daskworkergroup.yaml
  dask_kubernetes/operator/operator.py
  dask_kubernetes/operator/tests/resources/simplecluster.yaml
  dask_kubernetes/operator/tests/resources/simpleworkergroup.yaml
  dask_kubernetes/operator/tests/test_operator.py
  doc/source/operator.rst
Labels: enhancement, operator

#450 Fix worker to scheduler pairing
  dask_kubernetes/experimental/kubecluster.py
  dask_kubernetes/operator/customresources/daskworkergroup.yaml
  dask_kubernetes/operator/operator.py
  dask_kubernetes/operator/tests/test_operator.py
Labels: operator

#454 Fix worker group adoptions
  dask_kubernetes/operator/operator.py
Labels: operator

#461 Fix Docker image name in operator tests
  ci/Dockerfile
  dask_kubernetes/operator/tests/resources/simplecluster.yaml
  dask_kubernetes/operator/tests/resources/simpleworkergroup.yaml
Labels: operator

#460 Implement from name and connecting to existing clusters
  dask_kubernetes/experimental/kubecluster.py
  dask_kubernetes/operator/tests/test_operator.py
Labels: operator

#459 Only connect the RPC when we need it
  dask_kubernetes/operator/operator.py
Labels: operator

#464 Enable additional worker groups
  dask_kubernetes/experimental/kubecluster.py
  dask_kubernetes/operator/tests/test_operator.py
  doc/source/operator.rst
Labels: operator

#471 Update all references to ghcr.io
  doc/source/operator.rst
Labels: operator

#452 feat: implement CRD with embedded PodSpec
  .github/workflows/lint.yaml
  .pre-commit-config.yaml
  ci/pre-commit-crd.py
  dask_kubernetes/classic/kubecluster.py
  dask_kubernetes/common/objects.py
  dask_kubernetes/conftest.py
  dask_kubernetes/experimental/kubecluster.py
  dask_kubernetes/experimental/tests/test_kubecluster.py
  dask_kubernetes/kubernetes.yaml
  dask_kubernetes/operator/customresources/daskcluster.patch.yaml
  dask_kubernetes/operator/customresources/daskcluster.yaml
  dask_kubernetes/operator/customresources/daskworkergroup.patch.yaml
  dask_kubernetes/operator/customresources/daskworkergroup.yaml
  dask_kubernetes/operator/customresources/templates.yaml
  dask_kubernetes/operator/deployment/helm/chartpress.yaml
  dask_kubernetes/operator/deployment/helm/dask-kubernetes-operator/.helmignore
  dask_kubernetes/operator/deployment/helm/dask-kubernetes-operator/Chart.yaml
  dask_kubernetes/operator/deployment/helm/dask-kubernetes-operator/crds/daskcluster.yaml
  dask_kubernetes/operator/deployment/helm/dask-kubernetes-operator/crds/daskworkergroup.yaml
  dask_kubernetes/operator/deployment/helm/dask-kubernetes-operator/templates/NOTES.txt
  dask_kubernetes/operator/deployment/helm/dask-kubernetes-operator/templates/_helpers.tpl
  dask_kubernetes/operator/deployment/helm/dask-kubernetes-operator/templates/deployment.yaml
  dask_kubernetes/operator/deployment/helm/dask-kubernetes-operator/templates/serviceaccount.yaml
  dask_kubernetes/operator/deployment/helm/dask-kubernetes-operator/values.yaml
  dask_kubernetes/operator/deployment/manifests/daskcluster.yaml
  dask_kubernetes/operator/deployment/manifests/daskworkergroup.yaml
  dask_kubernetes/operator/deployment/manifests/deployment.yaml
  dask_kubernetes/operator/operator.py
  dask_kubernetes/operator/tests/resources/simplecluster.yaml
  dask_kubernetes/operator/tests/resources/simpleworkergroup.yaml
  dask_kubernetes/operator/tests/test_operator.py
  doc/source/index.rst
  doc/source/kubecluster.rst
  doc/source/operator.rst
  requirements-test.txt
Labels: operator

#473 Update docs more with new CRD format
  doc/source/operator.rst
Labels: operator

#472 Rename operator manifest
  dask_kubernetes/operator/deployment/manifests/operator.yaml
  doc/source/operator.rst
Labels: operator

#476 Pin k8s-crd-resolver version
  .pre-commit-config.yaml
  ci/pre-commit-crd.py
Labels: operator

#487 Add finalizer to reap clusters when Python exits
  dask_kubernetes/experimental/kubecluster.py
Labels: operator

#496 Disable istio sidecar injection
  .github/workflows/operator.yaml
  ci/install-deps.sh
  dask_kubernetes/conftest.py
  dask_kubernetes/operator/operator.py
Labels: operator

#492 Delegate Docker Image building to chartpress
  .github/workflows/release.yml
  dask_kubernetes/operator/deployment/helm/chartpress.yaml
Labels: operator

#500 Update examples with correct container name
  dask_kubernetes/kubernetes.yaml
  doc/source/kubecluster.rst
Labels: bug, kubecluster, documentation

#502 Set scheduler address in injected environment variable
  dask_kubernetes/experimental/kubecluster.py
  dask_kubernetes/operator/operator.py
  dask_kubernetes/operator/tests/resources/simplecluster.yaml
  dask_kubernetes/operator/tests/resources/simpleworkergroup.yaml
Labels: operator

#504 Add DaskJob resource
  ci/pre-commit-crd.py
  dask_kubernetes/conftest.py
  dask_kubernetes/operator/customresources/daskcluster.yaml
  dask_kubernetes/operator/customresources/daskjob.patch.yaml
  dask_kubernetes/operator/customresources/daskjob.yaml
  dask_kubernetes/operator/customresources/templates.yaml
  dask_kubernetes/operator/deployment/helm/dask-kubernetes-operator/crds/daskcluster.yaml
  dask_kubernetes/operator/deployment/helm/dask-kubernetes-operator/crds/daskjob.yaml
  dask_kubernetes/operator/deployment/manifests/daskcluster.yaml
  dask_kubernetes/operator/deployment/manifests/daskjob.yaml
  dask_kubernetes/operator/operator.py
  dask_kubernetes/operator/tests/resources/simplejob.yaml
  dask_kubernetes/operator/tests/test_operator.py
  doc/requirements-docs.txt
  doc/source/conf.py
  doc/source/index.rst
  doc/source/operator.rst
  doc/source/operator_installation.rst
  doc/source/operator_kubecluster.rst
  doc/source/operator_resources.rst
Labels: operator

#505 Small docs tweaks
  doc/source/conf.py
  doc/source/operator.rst
  doc/source/operator_kubecluster.rst
  doc/source/operator_resources.rst
Labels: operator, documentation

#509 Small fixes to get things working on Kubeflow
  dask_kubernetes/classic/tests/test_sync.py
  dask_kubernetes/common/networking.py
  dask_kubernetes/experimental/kubecluster.py
  dask_kubernetes/kubernetes.yaml
  dask_kubernetes/operator/deployment/manifests/operator.yaml
  dask_kubernetes/operator/operator.py
  dask_kubernetes/operator/tests/resources/simplecluster.yaml
  dask_kubernetes/operator/tests/resources/simplejob.yaml
  doc/source/operator_installation.rst
  doc/source/operator_resources.rst
Labels: bug, operator, documentation

#510 Fix patching the worker group for scaling
  dask_kubernetes/experimental/kubecluster.py
Labels: bug, operator

#511 Allow operator to update resource events
  dask_kubernetes/operator/deployment/helm/dask-kubernetes-operator/templates/serviceaccount.yaml
  dask_kubernetes/operator/deployment/manifests/operator.yaml
Labels: bug, operator

#512 Fix operator daskjob permissions
  dask_kubernetes/operator/deployment/helm/dask-kubernetes-operator/templates/serviceaccount.yaml
  dask_kubernetes/operator/deployment/manifests/operator.yaml
Labels: bug, operator
